
body{background-color: rgb(139, 139, 62);
}
div{
  background-color: beige;
}
  h1 {
    color: white;
    text-align: center;
  }
  h2{
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  

   
}
.useful-width{
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}
.useful-width{
  background-color:bisque;
}
.container {
  background-color: gray;
  opacity: 0.9;
  
  }
 
  
  label{
    color:white;
    font-size: smaller
  }
